*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gradle/
.idea/
.idea/.name
/app/build
/app/class_files.txt
/app/mapping.txt
/app/seeds.txt
/app/unused.txt
build/
local.properties



/app/app.iml
app/app.iml
